[submodule "WCL"]
	path = WCL
	url = git@github.com:gavin-blakeman/WCL.git
[submodule "ACL"]
	path = ACL
	url = git@github.com:gavin-blakeman/ACL.git
[submodule "GCL"]
	path = GCL
	url = git@github.com:gavin-blakeman/GCL.git
[submodule "PCL"]
	path = PCL
	url = git@github.com:gavin-blakeman/PCL.git
[submodule "MCL"]
	path = MCL
	url = git@github.com:gavin-blakeman/MCL
[submodule "SCL"]
	path = SCL
	url = git@github.com:gavin-blakeman/SCL
